.container {
  position: relative;
  height: 6.4vh;
  width: 20vw;
  margin-bottom: 1.8rem;
  background-color: #c8e1cb;
  border: solid 0.2 #1a2842;
  border-radius: 2rem;
  align-items: center;
  padding: 0.2rem;
}

.data {
  display: flex;
  padding-left: 1rem;
  padding-top: 1rem;

  &_all {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 3rem;
    margin-bottom: 0;
  }

  &_forecast {
    display: flex;
    margin-top: -1rem;
    transform: translateX(-0.2rem);

    &--precipitation,
    &--temperature {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 1rem;
    }
  }
  h1 {
    font-size: 1.3rem;
    margin: 0;
  }

  p {
    font-size: 1rem;
    // color: $color-logo;
  }
}

.dropdown_logo {
  margin-top: 0.8rem;
  position: absolute;
  color: #a0a0a0;
  right: 3rem;

  :hover {
    cursor: pointer;
    color: #1a2842;
  }
}

.weather_logo {
  height: 4rem;
  color: $color-logo;
}

.icon-container {
  height: 4rem;
  width: 4rem;
  transform: translateY(-5px);
}
