.search_container {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-1.8rem);
}

.input_field {
  height: 2.8rem;
  width: 34rem;
  margin: 1rem;
  font-size: 1.2rem;
  border-radius: 2rem;
  border: 1.4px solid #aad3c5;
  text-indent: 1.4rem;

  &::placeholder {
    text-indent: 1.4rem;
  }
}

.search_button {
  height: 3.3rem;
  width: 6rem;
  font-size: 1.2rem;
  border-radius: 3rem;
  border: 1.4px solid #aad3c5;
  transform: translateX(-5rem);
  background-color: #aad3c5;
  color: #1a2842;

  &-icon {
    margin-top: 2px;
  }

  &:hover {
    cursor: pointer;
    background-color: #8bafa3;
  }
}
